.widget-basic {
    max-width: 200px;
    font-size: 14px;
    padding: 20px;
    width: 100%;
    border-radius: 16px;
    border: 1px solid var(--light-pop-boder, rgba(255, 255, 255, 0.15));
    background: #121212;

    /* Light/Pop_shadow */
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(40px);

    &__info {
        color: $colorLight70;
        font-size: 14px;
    }

    &__city {
        font-weight: 500;
    }

    &__weather {
        margin-top: 30px;
        margin-bottom: 20px;

        img {
            max-width: 96px;
        }
    }

   
}